---
import Layout from "../layouts/layout.astro";
import CalendarComponent from "../components/calendar.astro";
---

<Layout title="Calendar">
  <main class="p-2 flex flex-col gap-2 justify-center items-center w-full h-full">
    <CalendarComponent />
  </main>
</Layout>
