---
import Layout from '../layouts/layout.astro';

import ReadMe from '../../README.md';
---

<Layout title="Telegram web inputs">
	<main class="mx-auto w-full p-4 max-w-4xl prose">
		<ReadMe />
	</main>
</Layout>
