---
import Layout from '../layouts/layout.astro';
import Calendar from '../components/calendar.astro';
---

<Layout title="Calendar">
	<main class="h-screen flex flex-col gap-2 items-center justify-center p-2 bg-slate-200 dark:bg-slate-800" >
		<Calendar />
	</main>
</Layout>