---
import "vanilla-calendar-pro/build/vanilla-calendar.min.css";
---

<div id="calendar"></div>

<button
  id="continue"
  class="text-black dark:text-white font-bold py-2 px-4 rounded"
  >Continue</button
>

<script>
  import VanillaCalendar from "vanilla-calendar-pro";

  document.documentElement.setAttribute(
    "data-theme",
    Telegram.WebApp.colorScheme
  );

  const searchParams = new URLSearchParams(window.location.search);

  const calendarOptionsString = searchParams.get("cal") || "{}";
  const calendar = new VanillaCalendar(
    "#calendar",
    JSON.parse(calendarOptionsString)
  );
  calendar.init();

  (function setupButtonHandler() {
    const requestOptionsString = searchParams.get("req");
    if (!requestOptionsString) {
      console.error("'req' search param not found");
      return;
    }
    const requestOptions = JSON.parse(requestOptionsString);
    document.getElementById("continue")!.addEventListener("click", () => {
      fetch(requestOptions.url, {
        method: "POST",
        ...requestOptions,
        headers: {
          "Content-Type": "application/json;charset=utf-8",
          ...requestOptions.headers,
        },
        body: JSON.stringify({
          calendar,
          webAppInitialData: Telegram.WebApp.initDataUnsafe,
        }),
      });
    });
  })();
</script>
