---
import "vanilla-calendar-pro/build/vanilla-calendar.min.css";
---

<div id="calendar"></div>

<button
  id="continue"
  class="min-w-[270px] bg-tg-btn-color text-tg-btn-txt font-bold py-2 px-4 rounded"
  >Continue</button
>

<script>
  import VanillaCalendar from "vanilla-calendar-pro";

  document.documentElement.setAttribute(
    "data-theme",
    Telegram.WebApp.colorScheme
  );

  const searchParams = new URLSearchParams(window.location.search);

  const calendarOptions = JSON.parse(searchParams.get("cal") || "{}");
  const calendar = new VanillaCalendar("#calendar", {
    ...calendarOptions,
    settings: {
      lang: Telegram.WebApp.initDataUnsafe.user?.language_code,
      ...calendarOptions.settings,
    },
  });
  calendar.init();

  Telegram.WebApp.ready();

  const btn = document.getElementById("continue")!;
  btn.innerText = Telegram.WebApp.MainButton.text;

  const requestOptionsString = searchParams.get("req");
  if (requestOptionsString) {
    const stateString = searchParams.get("state") || undefined;
    const requestOptions = JSON.parse(requestOptionsString);
    btn.addEventListener("click", () => {
      btn.innerHTML = `<svg class="animate-spin mx-auto h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>`;
      const data = JSON.stringify({
        calendar: {
          currentType: calendar.currentType,
          dateMin: calendar.dateMin,
          dateMax: calendar.dateMax,
          rangeMin: calendar.rangeMin,
          rangeMax: calendar.rangeMax,
          rangeDisabled: calendar.rangeDisabled,
          rangeEnabled: calendar.rangeEnabled,
          selectedDates: calendar.selectedDates,
          selectedHolidays: calendar.selectedHolidays,
          selectedMonth: calendar.selectedMonth,
          selectedYear: calendar.selectedYear,
          selectedHours: calendar.selectedHours,
          selectedMinutes: calendar.selectedMinutes,
          selectedKeeping: calendar.selectedKeeping,
          selectedTime: calendar.selectedTime,
          correctMonths: calendar.correctMonths,
          viewYear: calendar.viewYear,
        },
        webAppInitData: Telegram.WebApp.initData,
        state: stateString,
      });
      if (requestOptions.url) {
        fetch(requestOptions.url, {
          method: "POST",
          ...requestOptions,
          headers: {
            "Content-Type": "application/json;charset=utf-8",
            ...requestOptions.headers,
          },
          body: data,
        })
          .catch((err) => {
            alert(err instanceof Error ? err.message : String(err));
          })
          .finally(() => {
            btn.innerHTML = Telegram.WebApp.MainButton.text;
          });
      } else {
        Telegram.WebApp.sendData(data);
      }
    });
  }
</script>

<style is:global>
  [data-calendar-theme="dark"].vanilla-calendar {
    @apply bg-tg-bg text-tg-txt;
  }

  [data-calendar-theme="dark"]
    .vanilla-calendar-day__btn:not(.vanilla-calendar-day__btn_selected):not(
      .vanilla-calendar-day__btn_today
    ),
  [data-calendar-theme="dark"] .vanilla-calendar-years__year,
  [data-calendar-theme="dark"] .vanilla-calendar-months__month {
    @apply bg-tg-bg;
  }
</style>
