---
import "vanilla-calendar-pro/build/vanilla-calendar.min.css";
---

<div id="calendar"></div>

<button
  id="continue"
  class="min-w-[270px] bg-tg-btn-color text-tg-btn-txt font-bold py-2 px-4 rounded"
  >Continue</button
>

<script>
  import VanillaCalendar from "vanilla-calendar-pro";
  import type { IOptions } from "vanilla-calendar-pro/types";

  import { setupPage } from "../lib/page";
  import { useButton } from "../lib/btn";
  
  const btn = document.getElementById("continue")!;

  setupPage<IOptions>(new URLSearchParams(window.location.search), (page) => {
    const calendar = new VanillaCalendar("#calendar", {
      ...page.widgetParams,
      settings: {
        lang: page.lang,
        ...page.widgetParams?.settings,
      },
    });
    calendar.init();

    btn.innerText = page.buttonText;

    useButton(btn, () =>
      page.submit({
        currentType: calendar.currentType,
        dateMin: calendar.dateMin,
        dateMax: calendar.dateMax,
        rangeMin: calendar.rangeMin,
        rangeMax: calendar.rangeMax,
        rangeDisabled: calendar.rangeDisabled,
        rangeEnabled: calendar.rangeEnabled,
        selectedDates: calendar.selectedDates,
        selectedHolidays: calendar.selectedHolidays,
        selectedMonth: calendar.selectedMonth,
        selectedYear: calendar.selectedYear,
        selectedHours: calendar.selectedHours,
        selectedMinutes: calendar.selectedMinutes,
        selectedKeeping: calendar.selectedKeeping,
        selectedTime: calendar.selectedTime,
        correctMonths: calendar.correctMonths,
        viewYear: calendar.viewYear,
      })
    );
  });
</script>

<style is:global>
  [data-calendar-theme="dark"].vanilla-calendar {
    @apply bg-tg-bg text-tg-txt;
  }

  [data-calendar-theme="dark"]
    .vanilla-calendar-day__btn:not(.vanilla-calendar-day__btn_selected):not(
      .vanilla-calendar-day__btn_today
    ),
  [data-calendar-theme="dark"] .vanilla-calendar-years__year,
  [data-calendar-theme="dark"] .vanilla-calendar-months__month {
    @apply bg-tg-bg;
  }
</style>
