---
import "vanilla-calendar-pro/build/vanilla-calendar.min.css";
---

<div id="calendar"></div>

<button
  id="continue"
  class="text-black dark:text-white font-bold py-2 px-4 rounded"
  >Continue</button
>

<script>
  import VanillaCalendar from "vanilla-calendar-pro";

  if (typeof Telegram !== "undefined") {
    setupButtonHandler();
  } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    document.documentElement.setAttribute("data-theme", "dark");
  }

  const searchParams = new URLSearchParams(window.location.search);
  const calendarOptionsString = searchParams.get("options") || "{}";
  const calendar = new VanillaCalendar(
    "#calendar",
    JSON.parse(calendarOptionsString)
  );
  calendar.init();

  function setupButtonHandler() {
    document.documentElement.setAttribute(
      "data-theme",
      Telegram.WebApp.colorScheme
    );
    const requestOptionsString = searchParams.get("requestOptions");
    if (!requestOptionsString) {
      console.error("requestOptions search param not found");
      return;
    }
    const requestOptions = JSON.parse(requestOptionsString);
    document.getElementById("continue")!.addEventListener("click", () => {
      fetch(requestOptions.url, {
        method: "POST",
        ...requestOptions,
        headers: {
          "Content-Type": "application/json;charset=utf-8",
          ...requestOptions.headers,
        },
        body: JSON.stringify({
          calendar,
          webAppInitialData: Telegram.WebApp.initDataUnsafe,
        }),
      });
    });
  }
</script>
