---
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Telegram web inputs" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}/favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline src={`${import.meta.env.BASE_URL}/telegram-web-app.js`}
    ></script>
  </head>
  <body class="min-h-tg-viewport bg-tg-bg">
    <slot />
  </body>
</html>
